{"Groups":[{"Id":1,"Name":"default","Bunches":[{"Id":1,"Primary":"192.168.144.129:6379","Backups":[]},{"Id":2,"Primary":"192.168.144.129:6380","Backups":[]}]}],"Pool":{"MaxDataBases":4,"MaxConnectionsInDataBase":10,"ClientConfig":{"ConnectionTimeout":30000000000,"BufferSize":4096,"RequsetChanLength":1024}}}